@page
@model APPPRHlulani.Pages.DON_VIEWModel


<H2 class="custom-text-color">Displaying Total Monetary/Goods Donations Received</H2>
<div>
    <span style="color: white;">Total Monetary Donations:</span> <span style="color: white;"> @Model.GoodsMoneyDonations.Sum(i=>i.Amount)
    </div>
    

<div>
    <span style="color:white;">Total Number Of Goods:</span> <span style="color: white;"> @Model.GoodsMoneyDonations.Sum(i=>i.Items)
</div>

<style>
    .custom-text-color{
        color:darkorange;
    }e
    .div{
        color:white;
    }
</style>