@page
@model APPPRHlulani.Pages.LoginModel

<h2 class ="custom-text-color">login Below</h2>

<p><hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="login.UserName" class="control-label"></label>
                <input asp-for="login.UserName" class="form-control" />
                <span asp-validation-for="login.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login.Password" class="control-label"></label>
                <input asp-for="login.Password" class="form-control" />
                <span asp-validation-for="login.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Home</a>
</div>
</p>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .custom-text-color {
        color: rebeccapurple;
    }
    .form-group{
        font-size:medium;
        color:white;
        font-weight:200;
        font-family:Arial;
    }
    .btn-primary{
        background-color:purple;
    }
</style>