@page
@model APPPRHlulani.Pages.RegisterModel

<h2 class="custom-text-color">Register Below!</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Users.UserID" class="control-label"></label>
                <input asp-for="Users.UserID" class="form-control" />
                <span asp-validation-for="Users.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.FirstName" class="control-label"></label>
                <input asp-for="Users.FirstName" class="form-control" />
                <span asp-validation-for="Users.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LastName" class="control-label"></label>
                <input asp-for="Users.LastName" class="form-control" />
                <span asp-validation-for="Users.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.UserName" class="control-label"></label>
                <input asp-for="Users.UserName" class="form-control" />
                <span asp-validation-for="Users.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label"></label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Password" class="control-label"></label>
                <input asp-for="Users.Password" class="form-control" />
                <span asp-validation-for="Users.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.ConfirmPassword" class="control-label"></label>
                <input asp-for="Users.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Users.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .custom-text-color {
        color: orange;
    }

    .form-group {
        font-size: medium;
        color: mediumpurple;
        font-weight: 200;
        font-family: Arial;
    }

    

    .btn-primary {
        background-color: orangered;
    }
</style>